h4 {
    color: orange;
}

.hello1 {
    color: teal;
}

#text {
    color: red;
}

.hello2 {
    color: purple;
}

body {
    background-color: blue;
    /* background: linear-gradient(90deg, #ffffbb, #8b8bfd); */
     
     background: url("img/img2.jpg");
     background-repeat: no-repeat;
     background-size: cover;
}

.lorem {
    color: rgb(17, 32, 235);
    font-family: monospace;
    font-style: italic;
    background: rgba(254, 255, 255, 0.76);
    padding: 10px;
    border-radius: 10px;
    
}

.lorem::first-letter {
    font-size: 40px;
    font-weight: 600;
}

.content {
    background-color: rgba(223, 168, 255, 0.911);
    width: 900px;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    border: dashed grey;
}

.content:hover {
    background-color: rgba(203, 139, 240, 0.966);
}